/* Add your CSS styling here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-image: url('banner.jpg');
    /* Add your banner image URL here */
    background-size: cover;
    /* Adjust width and maintain aspect ratio */
    background-position: center;
    color: white;
    text-align: center;
    padding: 7rem;
}

h1 {
    font-size: 2.5rem;
}

/* Style for your photo */
header img {
    width: 150px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Creates a circular photo */
    margin-top: 20px;
    /* Adjust the spacing from the h1 element */
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.course {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for course thumbnails */
.course img {
    max-width: 100%;
    /* Ensure the thumbnail fits within the container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto 10px;
    /* Center the image and add some spacing */
}

.coupon {
    color: #ff6600;
    font-weight: bold;
}

#social {
    text-align: center;
}

#social h2 {
    font-size: 1.5rem;
}

#social ul {
    list-style: none;
    padding: 0;
}

#social ul li {
    margin: 10px;
}

#social ul li a {
    text-decoration: none;
    color: #0077b5;
    /* LinkedIn blue color */
    display: flex;
    align-items: center;
}

#social ul li img {
    width: 30px;
    /* Adjust the size as needed */
    margin-right: 10px;
}

#latest-video {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 1rem;
}